Port 22

HostKey /etc/ssh/ssh_host_rsa_key
HostCertificate /etc/ssh/ssh_host_rsa_key.cer
HostKey /etc/ssh/ssh_host_ecdsa_key
HostCertificate /etc/ssh/ssh_host_ecdsa_key.cer
HostKey /etc/ssh/ssh_host_ed25519_key
HostCertificate /etc/ssh/ssh_host_ed25519_key.cer

PermitRootLogin prohibit-password
PubkeyAuthentication yes

PasswordAuthentication no
PermitEmptyPasswords no

AllowAgentForwarding yes
AllowTcpForwarding yes
X11Forwarding yes
PermitTTY yes
PrintMotd no
TCPKeepAlive yes

Subsystem	sftp	/usr/lib/openssh/sftp-server -l INFO
    ForceCommand internal-sftp

