# interface names are limited to a maximum of 15 characters
{% for mac in ether_mac %}
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="{{ mac }}", NAME="e_{{ mac | replace(':', '') }}"
{% endfor %}
{% for mac in wlan_mac %}
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="{{ mac }}", NAME="w_{{ mac | replace(':', '') }}"
{% endfor %}
