Port 22

HostKey /etc/ssh/ssh_host_key
HostCertificate /etc/ssh/ssh_host_key.cer

## authentication
ChallengeResponseAuthentication no
PermitRootLogin prohibit-password
PubkeyAuthentication yes
PasswordAuthentication no
PermitEmptyPasswords no
UsePAM yes

## authorization
AllowAgentForwarding yes
AllowTcpForwarding yes
X11Forwarding yes
PermitTTY yes
PrintMotd no
TCPKeepAlive yes

Subsystem	sftp	/usr/libexec/openssh/sftp-server -l INFO

