## sudo systemctl enable --now podman_init@vault_vault_ezekielnewren_com

[Unit]
Description=Podman Container %i
After=network.target

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a %i
ExecStop=/usr/bin/podman stop -t 10 %i

[Install]
WantedBy=multi-user.target

