[Unit]
Description=start gnome keyring for each user under /home

[Service]
WorkingDirectory=/usr/local/bin
ExecStart=/bin/bash /usr/local/bin/keyring.sh

[Install]
WantedBy=multi-user.target

